fastapi
uvicorn
python-multipart
pillow
imagehash
torch==2.7.0
torchvision==0.22.0
opencv-python-headless
ffmpeg-python
invisible-watermark
google-generativeai
firebase-admin==6.4.0
google-cloud-firestore
reportlab
yt-dlp
requests
numpy
scipy
